<div class="c-search-main">

  <sh-backdrop [isActive]="isFocused"></sh-backdrop>

  <div class="c-search-main__title">
    City Search
  </div>

  <sh-form-field class="c-search-main__input">
    <input
      class="valami"
      type="text"
      shInput
      [shTypeahead]="ahead"
      (onInputValueChange)="onInputValueChange($event)"
      (isFocused)="onFocusChange($event)">
    <sh-typeahead
      #ahead="shTypeahead"
      [isActive]="isFocused">
      <sh-list-element *ngFor="let searchResult of searchResults">
        {{ searchResult }}
      </sh-list-element>
      <sh-spinner></sh-spinner>
    </sh-typeahead>
  </sh-form-field>
</div>
