.c-search-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transition: background-color 3s;
    background-color: rgba(0, 84, 126, 1);

    &.after-load {
        background-color: rgba(0, 84, 126, 0.7);
    }

    .c-search-main_background {
        z-index: -1;
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .c-search-main__title {
        margin-top: 200px;
        height: 100px;
        width: 500px;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        color: white;
    }

    .c-search-main__typeahead {
        margin-top: 100px;
        height: 50px;
        width: 500px;
    }
}