@import '../../../../assets/stylesheets/colors';

.c-search-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transition: background-color 3s;
    background-color: $solid-blue;

    &.after-load {
        background-color: $transparent-blue;
    }

    .c-search-main_background {
        z-index: -1;
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .c-search-main__title {
        margin-top: 200px;
        height: 100px;
        width: 500px;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        color: $white;
    }

    .c-search-main__typeahead {
        margin-top: 100px;
        height: 50px;
        width: 500px;
    }

    @media screen and (max-width: 500px) {
        .c-search-main__title {
            margin-top: 150px;
            width: 75%;
        }
        .c-search-main__typeahead {
            margin-top: 75px;
            width: 75%;
        }
      }
}