.c-typeahead__content {
    position: absolute;
    border: 1px solid black;
    overflow: scroll;
    max-height: 300px;
    width: 100%;
    max-width: none;
    margin-top: 10px;

    &.active {
        visibility: visible;
    }

    &.inactive {
        visibility: hidden;
    }

}
