<sh-form-field class="c-typeahead__wrapper">
  <input
    class="c-typeahead__input"
    type="text"
    placeholder="Start typing..."
    [formControl]="inputFormControl"
    shInput
    #typeaheadInput="shInput">
  <sh-spinner
    class="c-typeahead__spinner"
    *ngIf="isSearchActive() && typeaheadInput.isFocused | async">
  </sh-spinner>
  <sh-typeahead
    [shInput]="typeaheadInput">

    <sh-list-element
      *ngFor="let searchResult of searchResults"
      (mousedown)="inputFormControl.setValue(searchResult.get(0))">
      {{ searchResult.get(0) }}
      <span emphasis>{{ searchResult.get(1) }}</span>
    </sh-list-element>

    <sh-list-element
      *ngIf="!searchResults.size">
      No results found.
    </sh-list-element>

  </sh-typeahead>
</sh-form-field>
