.c-typeahead__wrapper {
    font-family: 'Roboto', sans-serif;

    .c-typeahead__spinner {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .c-typeahead__input {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        font-size: 30px;
    }
}