.c-backdrop {
    height: 100%;
    width: 100%;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.c-backdrop.active {
    background-color: rgba(grey, 0.3);
}

.c-backdrop.inactive {
    background-color: rgba(grey, 0);
}